<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krt.mqtt.server.mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="com.krt.mqtt.server.entity.Message">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
        <result column="message_id" jdbcType="INTEGER" property="messageId" />
        <result column="subject_name" jdbcType="VARCHAR" property="subjectName" />
        <result column="subject_content" jdbcType="VARCHAR" property="subjectContent" />
        <result column="inserter" jdbcType="INTEGER" property="inserter" />
        <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    </resultMap>

    <insert id="insertBatch" parameterType="com.krt.mqtt.server.entity.Message">
        insert into message(device_id, message_id, subject_name, subject_content, inserter, insert_time) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.deviceId},#{item.messageId},#{item.subjectName},#{item.subjectContent},#{item.inserter},#{item.insertTime})
        </foreach>
    </insert>

</mapper>