<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krt.mqtt.server.mapper.SubscribeMapper">

    <resultMap id="BaseResultMap" type="com.krt.mqtt.server.entity.Subscribe">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="device_id" jdbcType="INTEGER" property="deviceId" />
        <result column="topic_name" jdbcType="VARCHAR" property="topicName" />
        <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <insert id="insertBatch" parameterType="com.krt.mqtt.server.entity.Subscribe">
        insert ignore into subscribe(device_id, topic_name, insert_time, update_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.deviceId}, #{item.topicName}, #{item.insertTime}, #{item.updateTime})
        </foreach>
    </insert>

    <delete id="deleteBatch" parameterType="java.util.List">
        delete from subscribe
        where device_id = #{deviceId} and
        topic_name in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>